body {
/*background-color: red;
*/
  font-size:16px;
}

@media (max-width: 800px) {
 body {
   background-color: lightblue;
 }

}

@media (max-width: 425px) {
 body {
   background-color: rgb(212, 212, 199);
 }
}

.header {
height: 40%;
border: 5px solid pink;
color: black;
background-color: aquamarine;
}

.menuprincipal {

}

.section1 {
  display: flex;
  border: 5px solid black;
  color: black;
  float: left;
  height: 20%;
  justify-content: center;

}

.articulo1 {
  background: rebeccapurple;

}

.articulo2 {
  border: 5px solid black;
  height: 40%;
}

.boxes {
  display: flex;
  height: 100 px; 

}

.parrafos {
   display: flex;
   flex-direction:row;
   justify-content: space-around;
   color: pink;
   height: 40%;
   text-align: justify;
   padding: 10px;
   border: pink;
   background-color: white;
 }

.fondo {

 }

